.imageBox {
    width: 200px;
    height: 200px;
    background-color: #eee;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-image-section {
    width: 200px;
    flex-shrink: 0;
    text-align: left;
    position: relative;
}

.change-image {
    /* background-color: white;
            color: black;
            border: 1px solid #ccc; */
    background-color: rgb(83, 125, 93);
    color: white;
    cursor: pointer;
    float: right;
    font-size: 0.9rem;
    padding: 4px 10px;
    margin-top: 4px;
}

.change-image:hover {
    /* background-color: rgb(59, 102, 67);
            color: white; */
    background-color: rgb(59, 102, 67);
}

.preview-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
}

.preview-image:hover {
    border-color: rgb(83, 125, 93);
}

.change-profile {
    background-color: rgb(83, 125, 93);
    color: white;
    border: none;
    cursor: pointer;
}

.change-profile:hover {
    background-color: rgb(59, 102, 67);
}

.profile-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.profile-status-section {
    flex-shrink: 0;
}

.card-box {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}