body{
    
  margin: 0;
  
font-family: sans-serif;
background-color: rgb(243, 242, 216);
}
#include-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* 풋터 고정 */
#include-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* 본문이 헤더/풋터에 가려지지 않게 여백 주기 */
main {
    padding-top: 130px;  /* 헤더 높이에 맞게 조절 */
    padding-bottom: 50px;  /* 풋터 높이에 맞게 조절 */
}
header {
    background-color: rgb(83, 125, 93);
    color: white;
    padding: 5px 15px;

}
main{
border-top: grid 200px;

}
.logo-title {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: white;
  white-space: nowrap; 
}
.logo-title:hover {
  color: rgb(255, 255, 255);  /* 마우스 오버 시 파란색으로 */
}

.site-name {
  line-height: 1.0;
  font-size: 13px;
  text-align: left;
  display: flex;
  flex-direction: column; 
}

.site-name strong {
  font-size: 30px;
}
.header {
display: flex;

}
.hover-container {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 100%;
}

.hover-container img {
  width: 130px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#top_header{
display: grid;
grid-template-columns: 0.5fr 3.5fr;
grid-template-areas:"title menu";
background-color:   rgb(83, 125, 93);
}
#menu{
display: grid;
grid-template-rows: 0.5fr 0.5fr;
}
#log{
display: flex;
justify-content: flex-end;
font-size: small;
}
#title{
color: white;
text-align: center;
margin: 0;
padding: 10px;
}
nav {

display: flex;
}
#menu nav {
width: 100%;
}
main img{
width: 100%;
}
#big{
align-items: flex-end;
}

nav .btn_container{

display: flex;
justify-content: space-around;
align-items: center;
width: 100%;         
flex-wrap: nowrap;  

/*header 띄어서 정렬 */
}
.btn{
color: white;

}
li{
list-style: none;
}
a{
text-decoration: none;
color: inherit;

}
a:hover {
    color : rgb(8, 28, 8);
  }


footer {
background-color: rgb(83, 125, 93);
color: white;
text-align: center;
padding: 10px;
font-size: small;
}

.btn-group:hover .dropdown-menu {
display: block;
position: absolute;
top: 100%;
z-index: 1000;
}

